* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: lightblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: fit-content; */
  margin: auto;
}

.square {
  box-sizing: border-box;
  border: 1px solid black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  margin: 0;
}

label {
  font-size: 30px;
}
